.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 50px; /* Asegura que el contenido esté debajo del Header */
}

.listenAgain {
  margin-right: 100px;
}

.quickPicks {
  margin-left: 100px;
}
